    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if page.subtitle %}
        <meta name="description" content="{{ page.subtitle|capitalize }}">
    {% else %}
        <meta name="description" content="{{ site.subtitle|capitalize }}">
    {% endif %}

    {% if page.author %}
        <meta name="author" content="{{ page.author|capitalize }}">
    {% else %}
        <meta name="author" content="{{ site.author|capitalize }}">
    {% endif %}

    {% if page.keyword %}
        <meta name="keywords" content="{{ page.keyword|capitalize }}">
    {% else %}
        <meta name="keywords" content="{{ site.keyword|capitalize }}">
    {% endif %}

    <meta name="url" content="{{ site.url }}">
    <meta name="subject" content="{{ site.subject }}">
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">

{% if page.title %}
        <!-- Open Graph data -->
        <meta property="fb:app_id" content="1485678631717766">
        <meta property="og:title" content="{{ page.title }}" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="{{ site.url }}" />
        <meta property="og:image" content="{{ page.header }}" />
        <meta property="og:description" content="{{ page.subtitle }}" />
        <meta property="og:site_name" content="{{ site.title }}" />
        <meta property="article:published_time" content="" />
        <meta property="article:modified_time" content="" />
        <meta property="article:section" content="{{ page.subtitle }}" />
        <meta property="article:tag" content="{{ page.tag }}" />

{% else %}
        <meta property="fb:app_id" content="1485678631717766">
        <meta property="og:title" content="{{ site.title }}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ site.url }}" />
        <meta property="og:image" content="{{ page.header }}" />
        <meta property="og:description" content="{{ site.subtitle }}" />
        <meta property="og:site_name" content="{{ site.title }}" />
        <meta property="article:published_time" content="{{ date }}" />
        <meta property="article:modified_time" content="" />
        <meta property="article:section" content="{{ site.subtitle }}" />
        <meta property="article:tag" content="{{ site.keywords }}" />

{% endif %}